body {
  font-family: 'Bitter', san-serif;
}
.col-sm-4 {
  text-align: center;
  padding: 3vw 3vw;
}

.btn-flights {
  padding-top: 3vw;
  padding-bottom: 3vw;
  font-family: 'Bitter', serif;
  font-size: 5vw;
  border-radius: 15px;
}

.to {
	font-family: 'Bitter', serif;
	text-align: center;
  font-size: 3vw;
  /*height: 5vw;*/
  line-height: 20vh;
}
.form1{
    position: relative;
}
.formText{
	font-family: 'Bitter', serif;
    /*color: black;*/
	line-height: 0px;
}

.airportText{
    margin: 20px;
	padding: 40px;
}

.section {  
  padding-top: 7rem;
  overflow: auto;
  position: relative;
  background-size:cover;
}
.section:nth-child(even) {
  background-color: white;

}
#home {
  padding-top: 100px;
  background-image: url(https://picsum.photos/1200/980/);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#flight {
  padding-top: 250px;
  background-image: #ffffff;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#flightInfo {
  padding-top: 100px;
 /* background-image: url(https://st2.depositphotos.com/2691399/11484/v/950/depositphotos_114846908-stock-illustration-vintage-sky-clouds-engraving.jpg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.welcomeText {
    font-family: 'Bitter', serif;
    text-align: center;
    color: white;
}

.welcomeText-2 {
    font-family: 'Bitter', serif;
    color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;
}
